# Build artifacts
/build/
/bin/
!/bin/swanrun*

# CMake files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
build.ninja
.ninja_log

# Compiled binaries
*.mod
*.o
*.obj
*.exe
*.out
*.so
*.a
*.dll

# IDE files
*.swp
*.sublime-workspace
*.vscode/
